//fonts
$font-main:'Raleway', sans-serif;
$font-title:'Playfair Display', serif;
$font-secondary:'Roboto', sans-serif;


//colors 

$dark: #242B33;
$accent:#D4C17F;
$white :#ffff;
$footer-bg:#E7E7E7;

