.info {
    position: relative;
    font-size: 18px;
    padding-left: 35px;
    ;
    &::before {
        content: "";

        position: absolute;
        left: 0px;
        right: 0px;
        width: 21px;
        height: 21px;

       
    }

    &-tel::before {
        background-image: url('./../img/header/phone-call.svg');
    }

    &-map::before {
        background-image: url('./../img/header/point.svg');
    }
}
